@{
    ViewData["Title"] = "Замовлення оформлене";
}

<p>
    Замовлення оформлене. Ми збираємо його, аби передати у службу доставки.
    Чекайте на SMS.
</p>
<p>
    <a href="@Url.Action("Index","Home")">Повернутися в магазин</a>
</p>
